<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add group</title>
</head>
<body>
<div style = "text-align: center; margin-top: 200px; font-size: 30px;">
    <form th:action="@{saveGroup}"
          th:method="post"
          th:object="${group}">

        <input type="text" th:field="*{groupName}" placeholder="group name">
        <br>
        <br>
        <input type="text" th:field="*{dateOfStart}" placeholder="data of start ">
        <br>
        <br>
        <input type="text" th:field="*{dateOfFinish}" placeholder="data of finish ">
        <br>
        <br>
        <select th:field="*{courseId}">
            <option th:each="course:${coursesList}"
                    th:value="${course.id}"
                    th:text="${course.courseName}">
            </option>
        </select>
        <input type="submit" value="add group">
        <br>
        <br>
        <input type="submit" value="back">
    </form>

</div>
</body>
</html>